html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
ol,
ul,
li,
a,
button,
td,
th,
tr,
p,
img {
    line-height: normal;
    border: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}